/* Selector Universal */
* {
    color: red;
}

/* Selector de Tipo */
h1 {
    color: blue;
}

/* Selector por Clase */
.titulo-h2 {
    color: green;
}

/* Selector por ID */
#btn {
    background-color: darkorchid;
    color: white;
}

/* Selector por Atributo */
[atributo="porAtributo"] {
    color: lightskyblue;
}

/* Selector por Descendiente */
h2 p {
    color: yellowgreen;
}

/* Selector por PseudoClase */
b:hover {
    background-color: black;
    color: white;
}